html {
	font-size: 62.5%;
}

body {
	color: #303030;
	font-family: 'Space Mono', monospace;
	font-size: 1.6rem;
	line-height: 2.5rem;
	box-sizing: border-box;
}

/*NAVIGATION*/

nav {
	background-color: #ef562d;
	position: fixed;
	opacity: 1;
	width: 100%;
	z-index: 2;
}

nav ul {

	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
}

nav li {
	color: white;
	font-size: 1.9rem;
	font-weight: 700;
	margin-left: 4rem;
	margin-right: 4rem;
	padding: 1.2rem;
}

nav a {
	color: white;
	padding-bottom: 0.2rem;
	text-decoration: none;
}

nav a:hover {
	color: #303030;
	border-bottom: 1px solid #303030;
}

nav > div {
	display: none;
}

/*DROPDOWN*/

.dropdownParent {
	position: relative;
	cursor: pointer;
}

.dropdownParent i {
	padding: 0rem;
}

.dropdownItems {
	background-color: rgba(239, 86, 45, 0.90);
	box-shadow: -2px 4px 10px -5px rgba(0, 0, 0, 0.75);
	/*    background-color: #ef562d;*/
	color: #ffffff;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	margin: 0;
	visibility: hidden;
	transform: translateY(-2em);

	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	display: block;
}

.dropdownItems li {
	margin: 0;
	text-align: center;
}

.dropdownItems li:nth-child(1) {
	border-bottom: 1px solid white;
}

.dropdownParent:hover .dropdownItems {
	opacity: 1;
	visibility: visible;
	z-index: 3;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
}

nav div:nth-of-type(2){
    background-color: white;
    border-bottom: 1px solid #ef562d;
    display: flex;
    justify-content: flex-end;
}

/*
nav div:nth-of-type(2) a, p, span {
    color: #303030;
    padding: 1rem;
}
*/

nav > div:nth-of-type(2) a {
	color: #303030;
	padding: 1rem;
}

nav > div:nth-of-type(2) p {
	color: #303030;
	padding: 1rem;
}

nav > div:nth-of-type(2) span {
	color: #303030;
	padding: 1rem;
}

nav div:nth-of-type(2) a:hover {
	border: none;
	color: #ef562d;
}


nav div:nth-of-type(2) a:hover {
    border: none;
    color: #ef562d;
}

/*LES RESEAUX SOCIAUX */
#nav_laterale {
    align-items: center;
    border: 1px dashed #ef562d;
    border-radius: 10%;
    border-right: none;
    box-shadow: -2px 4px 10px -5px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 12rem;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    right: 0px;
    top: 20rem;
    width: 2.5rem;
    z-index: 1;
}

#nav_laterale a {
    color: #303030;
}

#nav_laterale a:hover {
    color: #ef562d;
}

#reseaux_sociaux {
    display: flex;
    flex-direction: column;
}

#profil_recherche {
    display: flex;
    flex-direction: column;
}

.fa-user, .fa-twitter {
    margin-bottom: 0.7rem;
}

.fa-twitter {
    border-top: 1px dashed #ef562d;
    padding-top: 1rem;
}


/*MAIN*/

/*SECTION*/

section,
footer {
	margin: auto;
	width: 75%;
}

section {
	padding-bottom: 2.5rem;
	margin-bottom: 2.5rem;
}


/* SECTION 1: HEADER*/

header {
	align-items: center;
	background-image: url(../assets/images/logos/Logo.png);
	background-position: left center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 23rem;
	width: 75%;
}

header:hover{
    background-image: url(../assets/images/logos/logo4.gif);
    z-index: 0;
    
}

header > h1 {
	color: #ef562d;
	font-family: 'Space Mono', monospace;
	font-size: 5rem;
	line-height: 8rem;
	margin-left: 20rem;
	position: relative;
	bottom: 2rem;
	z-index: -1;
}

header > p {
	line-height: 2.5rem;
	margin: 4rem;
	width: 60%;
}

header > img {
	max-width: 100%;
}


/* SECTION 2 : Download Programme*/


/*barre oblique*/

#downloadProgramme {
	width: 100%;
	margin: 0 auto;
	box-shadow: -2px 4px 10px -5px rgba(0, 0, 0, 0.75);
	background-color: #ef562d;
	padding-bottom: 2rem;
	padding-top: 2rem;
		transform: skewY(-1deg);
}

.downloadProgrammeParent {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: flex;
	justify-content: space-around;
		transform: skewY(0deg);
}

.downloadProgrammeFirstChild {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: skewY(1deg)
}

/*
.downloadProgrammeFirstChild img {
	margin-top: 1rem;
	width: 70%;

}
*/

.downloadProgrammendChild {
	transform: skewY(1deg);
}

.downloadProgrammendChild h2 {
	font-size: 4.5rem;
	color: #e6e6e6;
	
}

#downloadProgramme a {
	display: inline-block;
	color: #e6e6e6;
}









/*SECTION 3 */

#catalogueFilms {
	margin-top: 8rem;

}

#catalogueFilms h2 {
	font-size: 3rem;

}



/*Button Tag films*/

#parentButtonFilms {
	display: flex;
	flex-direction: column;
	align-content: center;
}

#filmsCategories {
	margin-top: 2.5rem;
	display: flex;
	flex-direction: column;
	color: #ef562d;
}

#tagsFilms {
	width: 100%;
	margin-top: 7rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #ef562d;
}

.buttonSelected {
	border: 2px solid #ef562d;

}

/*
.noBorderButton:not(.no-hover):hover{
	border-top: none; 
	border-left: none; 
	border-right: none; 
}
*/

button {
	color: #303030;
	font-family: 'Space Mono', monospace;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	width: 20%;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid #ef562d;
	background-color: #ffffff;
	cursor: pointer;
	position: relative;
	margin: 0rem 0.5rem;
	padding: 0.5rem;
	text-transform: uppercase;
	overflow: hidden;


}

button::before {
	transform: translateX(100%);
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 99%;
	height: 2px;
	/*	border-bottom: 2px solid transparent;*/
	border-left: 2px solid transparent;


}

button::after {
	transform: translateX(-100%);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 2px;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;

}

button:hover::before {
	transition: .1s transform linear, .1s height linear .1s;
	transform: translateX(0);
	height: 100%;
	border-color: #ef562d;


}

button:hover::after {
	transition: .1s transform linear .2s, .1s height linear .3s;
	transform: translateX(0);
	height: 100%;
	border-color: #ef562d;

}


/*THUMBNAILS*/

/*Gestion des li*/

#sectionFilms [data-tag] {
	/*	width:240px; */
	display: block;
	list-style: none;
	position: relative;
	margin-top: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	transition: all 0.45s ease;
	box-sizing: border-box
}


#thumbnails {
	width: 100%;
	padding: 0;
	margin-top: 2.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

#thumbnails img {
	display: block;
	width: 100%;
}

#thumbnails a {
	width: 100%;
	display: block;
	position: relative;
}


/*;;;;;;;;;HOVER;;;;;;;;;;;;;;;;*/

/*info hover*/

[data-tag] .hoverInfo {
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	color: white;
	text-align: center;
	z-index: 1;
}

h3:nth-of-type(1) {
	font-size: 1.5rem;
}

h3:nth-of-type(2) {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

h3,
h4 {

	margin-top: 1rem;
	margin-bottom: 1rem;
}


/*info film: titre et auteur*/

.hoverInfo .infoFilm {
	position: absolute;
	left: 15%;
	right: 15%;
	top: 20%;
}

.hoverInfo h3 {
	line-height: 1.5rem;
}

/*infos annexes : date, lieu, more info */

.infosAnnexes {
	text-align: center;

}


/*date et lieu*/

.hoverInfo .dateLieu {
	position: absolute;
	bottom: 5%;
	left: 3%;
	line-height: 1rem;
}

/*color date*/

.hoverInfo .dateLieu h4:first-child {
	color: #ef562d;
}

/*More info*/

.hoverInfo .moreInfo {
	position: absolute;
	bottom: 5%;
	right: 3%;
	color: #2dc6ef;
	text-decoration-line: underline;
}


/*Gestion hover*/

[data-tag]:before,
[data-tag]:after {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}

[data-tag]:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1.5);
}

[data-tag]:after {
	-webkit-transform: scaleY(1);
	transform: scaleY(1.5);
}

[data-tag]:hover .hoverInfo {
	top: 0;
	left: 0;
	visibility: visible;
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

[data-tag]:hover:before,
.hoverInfo:before,
[data-tag]:hover:after,
.hoverInfo:after {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


/*FOOTER*/

footer {
	border-top: 1px solid #ef562d;
	display: flex;
	font-size: 1.4rem;
	justify-content: space-between;
	margin-top: 10rem;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}

/*MEDIA QUERIES */

/*Tablets*/

@media screen and (min-width: 924px) and (max-width: 1653px) {


	section,
	footer {
		margin: 0 auto;
		width: 80%;
	}

	/*Sections films*/
	/*ul*/
	#sectionFilms #thumbnails {
		width: 100%;
	}
	/*li*/
	#sectionFilms [data-tag] {
		width: 30%
	}
	.hoverInfo h3
	{
		line-height: 1.5rem;
		font-size: 1.5rem;
	}
	
	.hoverInfo .infoFilm {

		top: 10%;
	}
	
	.dateLieu h4{
	
		font-size: 1.1rem;
	}
	
	
	.dateLieu h4:nth-child(2){
	
		display: none;
	}
	.hoverInfo .moreInfo{
		bottom:1%;
	}
	
	
/*
	.downloadProgrammeParent {
		width: 85%;
	}
*/

	.downloadProgrammeFirstChild {
		margin-right: 6rem;
	}


}

@media screen and (min-width: 750px) and (max-width: 918px) {
	/*
	* {
		background-color: red;
	}
*/
	header {
		align-items: flex-start;
		background-size: 200px;
		background-position: left 10rem;
		flex-direction: column;
		width: 90%;
		padding-top: 9rem;

	}
	header > p {
		line-height: 2.5rem;
		margin: 4rem;
		width: 90%;
	}

	header > h1 {
		margin-left: 15rem;
		margin-top: 9.5rem;
	}
	nav li {
		font-size: 1.7rem;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 1rem;
		text-align: center;
	}
	section,
	footer {
		margin: 0 auto;
		width: 85%;
	}
	#sectionFilms [data-tag] {
		width: 30%
	}
	button {
		font-size: 1.5rem;

	}
	.hoverInfo h3,
	h4 {
		line-height: 1.1rem;
		font-size: 1.2rem;
	}
	.dateLieu h4:nth-child(2){
	
		display: none;
	}

	.hoverInfo .infoFilm {

		top: 10%;
	}
	.hoverInfo .moreInfo{
		bottom:1%;
	}
	
		.downloadProgrammendChild {
		margin-left: 0rem;
		margin-right: 0rem;
	}

	.downloadProgrammeFirstChild {
		margin-left: 0rem;
		margin-right: 7rem;
	}

	.downloadProgrammendChild h2:nth-of-type(1) {
		font-size: 3.5rem;
	}
	.downloadProgrammendChild h2:nth-of-type(2) {
		font-size: 3.5rem;

	}
	.downloadProgrammeParent {
		width: 80%;
	}




}

@media screen and (min-width: 501px) and (max-width: 750px) {
	/*
	* {
		background-color: blue;
	}
*/
	header {
		flex-direction: column;
		align-items: flex-start;
		background-size: 200px;
		background-position: left 10rem;
		flex-direction: column;
		width: 90%;
		padding-top: 9rem;

	}
	header > p {
		line-height: 2.5rem;
		margin-top: 4rem;
		margin-bottom: 4rem;
		margin-left: 0rem;
		margin-right: 0rem;
		width: 100%;
	}

	header h1 {
		margin-left: 15rem;
		margin-top: 9.5rem;
	}

	nav li {
		font-size: 1.5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 0.2rem;
		text-align: center;
	}
	section,
	footer {
		margin: 0 auto;
		width: 90%;
	}


	#catalogueFilms {
		margin-top: 5rem;
	}

	#tagsFilms {
		margin-top: 4rem;
	}
	#sectionFilms [data-tag] {
		width: 45%;
	}

	.hoverInfo h3,
	h4 {
		line-height: 1.2rem;
		font-size: 1.3rem;
	}
	.downloadProgrammeParent {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}

	button {
		width: 16rem;
		font-size: 1.3rem;
	}
	

	.hoverInfo .infoFilm {

		top: 15%;
	}

	.hoverInfo h3,
	h4 {
		line-height: 1.5rem;
	}
	
	.dateLieu h4:nth-child(2){
	
		display: none;
	}
	.hoverInfo .moreInfo{
		bottom:1%;
	}
	
		.downloadProgrammeParent {
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
	}

	.downloadProgrammeFirstChild {
		margin-left: 0rem;
		margin-right: 0rem;
	}

	.downloadProgrammeFirstChild img {
		width: 60%;
	}

	.downloadProgrammendChild {
		margin-left: 0rem;
		order: -1;
	}

	.downloadProgrammendChild h2:nth-of-type(1) {
		font-size: 2.5rem;
	}
	.downloadProgrammendChild h2:nth-of-type(2) {
		font-size: 2rem;
		margin-top: 1rem;
	}

	.downloadProgrammeFirstChild p:nth-of-type(1) {
		margin-top: 3rem;
	}



}


/*MOBILE*/

@media screen and (max-width: 500px) {

	/*	navigation*/
	.visible {
		background-color: #ef562d;
		display: block;
		text-align: center;
	}
	nav {
		background-color: white;
	}

	nav a:hover {

		border: none;
	}



	nav > div {
		/*La souris/menu hamb apparait*/
		display: flex;
		justify-content: flex-end;
	}
	nav ul {
		display: none;
	}
	nav > ul > li {
		font-size: 2.5rem;
	}
    
    nav div:nth-of-type(2) {
        display: none;
    }
    
    #nav_laterale {
        width: 1.2rem;
    }
    
	/*	header*/
	header {
		align-items: flex-start;
		background-size: 140px;
		background-position: left 9rem;
		flex-direction: column;
		width: 90%;
		padding-top: 9rem;
		padding-bottom: 7rem
	}

	header > h1 {
		margin-left: 9.5rem;
		margin-top: 8rem;
		font-size: 3rem;
		line-height: 4.5rem;
	}


	header > p {
		width: 90%;
		margin: 1rem;
	}


	/* SECTIONS */
	section,
	footer {
		margin: 0 auto;
		width: 100%;
	}
	

	/*	id="catalogueFilms"*/
	#catalogueFilms {
		width: 70%;
		margin-top: 3.5rem;
		margin-right: auto;
		margin-bottom: 0.5rem;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#catalogueFilms h2 {
		font-size: 3rem;
		align-self: flex-start;
	}
	/*	Button/tags*/
	#tagsFilms {
		width: 100%;
		margin: 0 auto;
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		color: #ef562d;
	}
	#tagsFilms button {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1.6rem;
		margin-bottom: 1.6rem;
		padding: 0.7rem;
	}
	#sectionFilms [data-tag] {
		width: 70%;
		margin-top: 1.6rem;
		margin-bottom: 1.6rem;
	}
	/*THUMBNAILS */
	#thumbnails {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-content: center;
		position: relative;

	}

.dateLieu h4:nth-child(2){
	
		display: none;
	}
	
	.hoverInfo .moreInfo{
		bottom:1%;
	}


	.hoverInfo h3,
	h4 {
		line-height: 1.3rem;
		font-size: 1.3rem;
	}


	.hoverInfo .infoFilm {
		position: absolute;
		left: 15%;
		right: 15%;
		top: 20%;
	}
    
        nav div:nth-of-type(2) {
        display: none;
    }
	
	/*	SECTIONS .downloadProgramme*/
	
	.downloadProgrammeParent {
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;


	}

	.downloadProgrammeFirstChild {
		margin-left: 0rem;
		margin-right: 0rem;
	}

	.downloadProgrammeFirstChild img {
		width: 60%;
	}

	.downloadProgrammendChild {
		margin-left: 0rem;
		order: -1;
		margin-right: 0rem;


	}
	
	.downloadProgrammeParent{
		width:74%;
	}

	.downloadProgrammendChild h2:nth-of-type(1) {
		font-size: 2.5rem;
	}
	.downloadProgrammendChild h2:nth-of-type(2) {
		font-size: 2rem;
		margin-top: 1rem;
	}

	.downloadProgrammeFirstChild p:nth-of-type(1) {
		margin-top: 3rem;
	}

	/*FOOTER*/
	footer {
		flex-direction: column;
		align-items: center;
	}
}