html {
	font-size: 62.5%;
}

body {
	color: #303030;
	font-family: 'Space Mono', monospace;
	font-size: 1.6rem;
	line-height: 2.5rem;
	box-sizing: border-box;
}


/*NAVIGATION*/




nav {
	background-color: #ef562d;
	position: fixed;
	opacity: 1;
	width: 100%;
	z-index: 5;
}

nav ul {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	position: relative;
}




nav li {

	font-size: 1.9rem;
	font-weight: 700;
	margin-left: 4rem;
	margin-right: 4rem;
	padding: 1.2rem;
}

nav a {
	color: white;
	padding-bottom: 0.2rem;
	text-decoration: none;
}



nav a:hover {
	color: #303030;
	border-bottom: 1px solid #303030;
}

nav > div {
	display: none;
}

/*DROPDOWN*/

.dropdownParent {
	position: relative;
	cursor: pointer;
}



.dropdownParent i {
	padding: 0rem;
		color: white;
}

.dropdownItems {
	background-color: rgba(239, 86, 45, 0.90);
	box-shadow: -2px 4px 10px -5px rgba(0, 0, 0, 0.75);
	/*    background-color: #ef562d;*/
	color: #ffffff;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	margin: 0;
	visibility: hidden;
	transform: translateY(-2em);
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	display: block;
}

.dropdownItems li {
	margin: 0;
	text-align: center;
}

.dropdownItems li:nth-child(1) {
	border-bottom: 1px solid white;
}

.dropdownParent:hover .dropdownItems {
	opacity: 1;
	visibility: visible;
	z-index: 3;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
}



/*LES RESEAUX SOCIAUX */


nav div:nth-of-type(2){
    background-color: white;
/*    border-bottom: 1px solid #ef562d;*/
 
    display: flex;
    justify-content: flex-end;
}

nav div:nth-of-type(2) a, p, span {
    color: #303030;
    padding: 1rem;
}

nav div:nth-of-type(2) a:hover {
    border: none;
    color: #ef562d;
}

#nav_laterale {
    align-items: center;
    border: 1px dashed #ef562d;
    border-radius: 10%;
    border-right: none;
    box-shadow: -2px 4px 10px -5px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 12rem;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    right: 0px;
    top: 20rem;
    width: 2.5rem;
    z-index: 4;
}

#nav_laterale a {
    color: #303030;
}

#nav_laterale a:hover {
    color: #ef562d;
}

#reseaux_sociaux {
    display: flex;
    flex-direction: column;
}

#profil_recherche {
    display: flex;
    flex-direction: column;
}

.fa-user, .fa-twitter {
    margin-bottom: 0.7rem;
}

.fa-twitter {
    border-top: 1px dashed #ef562d;
    padding-top: 1rem;
}

/*MAIN*/

/*SECTIONS*/

section,
footer {
	margin: auto;
	width: 75%;
}

section {
	padding-bottom: 2.5rem;
	margin-bottom: 2rem;
}


main > section:nth-child(2),
section:nth-child(3)
 {

}


main > hr{
    width:75%;
    color:#ef562d;
    
  
}
/*Les premiers div dans chaque sections */

section:not(#nav_laterale) .thumbnailsContainer {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 8rem;
	padding-top: 8rem;
}



/*SECTION 1 : HEADER*/
header {
	align-items: center;
	background-image: url(../assets/images/logos/Logo.png);
	background-position: left center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 23rem;
	width: 75%;
}

header:hover{
    background-image: url(../assets/images/logos/logo4.gif);
    z-index: 0;
    
}

header > h1 {
	color: #ef562d;
	font-family: 'Space Mono', monospace;
	font-size: 5rem;
	line-height: 8rem;
	margin-left: 20rem;
	position: relative;
	bottom: 2rem;
	z-index: -1;
}

header > p {
	line-height: 2.5rem;
	margin: 4rem;
	width: 60%;
}

header > img {
	max-width: 100%;
}



/*Thumbnails*/

.thumbnails img {
	display: block;
}

.thumbnails a {
	width: 100%;
	display: block;
	position: relative;
}


main section:not(:first-child) h2 {
	color: #ef562d;
    margin-bottom:1rem;
  
}

section h2 {
	align-self: flex-start;
	color: #ef562d;
	font-size: 3rem;
	line-height: 4rem;
	margin-left: 2rem;
	padding-right: 2rem;
	word-break: keep-all;
}


.thumbnails {

	padding-left: 0;
	width: 100%;
    display: flex;
	flex-direction: row;
    justify-content: space-around;
	position: relative;
/*	z-index: -1;*/

}


[data-tag] {

	display: block;
	list-style: none;
	position: relative;
	margin-top: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	transition: all 0.45s ease;
	box-sizing: border-box
}


.thumbnails li {
	list-style: none;

}


[data-tag] .hoverInfo {
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 5;
	right: 0;
	left: 0;
	color: white;
	text-align: center;
	line-height: 1rem;
	z-index: 4;
}

h3:nth-of-type(1) {
	font-size: 1.5rem;
}

h3:nth-of-type(2) {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

h3,
h4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}



/*info film: titre et auteur*/

.hoverInfo .infoFilm {
	position: absolute;
	left: 15%;
	right: 15%;
	top: 25%;
	/*	bottom: 25%;*/
}



/*infos annexes : date, lieu, more info */

.infosAnnexes {
	text-align: center;

}

/*date et lieu*/

.hoverInfo .dateLieu {
	position: absolute;
	bottom: 5%;
	left: 3%;
	line-height: 1rem;
}

/*color date*/

.hoverInfo .dateLieu h4:first-child {
	color: #ef562d;
}


/*More info*/

.hoverInfo .moreInfo {
	position: absolute;
	bottom: 5%;
	right: 3%;
	color: #2dc6ef;
	text-decoration-line: underline;
}

/*Gestion hover*/

[data-tag]:before,
[data-tag]:after {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}

[data-tag]:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1.5);
}

[data-tag]:after {
	-webkit-transform: scaleY(1);
	transform: scaleY(1.5);
}


[data-tag]:hover .hoverInfo {
	top: 0;
	left: 0;
	visibility: visible;
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}


[data-tag]:hover:before,
.hoverInfo:before,
[data-tag]:hover:after,
.hoverInfo:after {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}



/*FOOTER*/

footer {
	border-top: 1px solid #ef562d;
	display: flex;
	font-size: 1.4rem;
	justify-content: space-between;
	margin-top: 3rem;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}





/*Tablets*/

@media screen and (min-width: 1025px) and (max-width: 1500px) {

	section {
		width: 90%;
	}

	section:not(#nav_laterale) .thumbnailsContainer{
		/*		width: 100%;*/
		flex-direction: column;

	}
	
	
	
	.thumbnails {
		flex-direction: row;
		width: 100%;
        margin-top: 0rem;
	}

	.thumbnails img {
		/*		width:%;*/
	}

	section h2 {
		order: -1;
		align-self: flex-end;
		font-size:4.5rem;
	}

	.hoverInfo h3,
	h4 {
		line-height: 1.2rem;
		font-size: 1.3rem;
	}
	
		.thumbnails li:nth-child(1), li:nth-child(3){
		
		align-self: flex-end;
	}
	
	
	.thumbnails > li:nth-child(2){
		align-self: flex-end;
		margin-top:5rem;
		margin-bottom:5rem;
	}
	
	
	section:not(#nav_laterale) .thumbnailsContainer{
		padding-top:0rem;
	}


}

@media screen and (min-width: 591px) and (max-width: 1024px) {

	header {
		align-items: flex-start;
		background-size: 200px;
		background-position: left 10rem;
		flex-direction: column;
		width: 90%;
		padding-top: 9rem;
	}

	header > p {
		line-height: 2.5rem;
		margin: 4rem;
		width: 90%;
	}
	
	
	header > h1 {
		margin-left: 15rem;
		margin-top: 9.5rem;
	}
	/*    NAVIGATIONS */
	nav li {
		font-size: 1.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 1rem;
		text-align: center;
	}

    
	#nav_laterale {
		top: 20rem;
		width: 2rem;
	}
	section:not(#nav_laterale) .thumbnailsContainer {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	section h2 {
		order: -1;
				align-self: flex-end;
		word-break: normal;
		margin-left: 0rem;
		font-size:4.5rem;

	}
	
		.hoverInfo h3,
	h4 {
		line-height: 1.1rem;
		font-size: 1.3rem;
	}



	.thumbnails {

		width: 100%;
		padding-left: 0;
		display: flex;
		flex-direction: column;
/*		align-items: center;*/
		position: relative;
		margin-top:0rem;
	}
	

	
	.thumbnails > li:nth-child(1){
		
		align-self: flex-start;
	}
	
	.thumbnails > li:nth-child(3){
		align-self: flex-start;
	}
	
	
	.thumbnails > li:nth-child(2){
		align-self: flex-end;
		margin-top:5rem;
		margin-bottom:5rem;
	}
	

	
	section:not(#nav_laterale) .thumbnailsContainer{
		padding-top:0rem;
	}
	

}


@media screen and (max-width: 590px) {

	.visible {
		background-color: #ef562d;
		display: block;
		text-align: center;
	}
	nav {
		background-color: white;
	}
	nav > div {
		/*La souris/menu hamb apparait*/
		display: flex;
		justify-content: flex-end;
	}
	
		nav a:hover {

		border: none;
	}


	nav ul {
		display: none;
	}
	nav > ul > li {
		font-size: 2.5rem;
	}
    
    nav div:nth-of-type(2) {
        display: none;
    }
    
    #nav_laterale {
        width: 1.2rem;
    }
    
	header {
		align-items: flex-start;
		background-size: 140px;
		background-position: left 9rem;
		flex-direction: column;
		width: 90%;
		padding-top: 9rem;
		padding-bottom: 2rem
	}
	header > h1 {
		margin-left: 9.5rem;
		margin-top: 8rem;
		font-size: 3.5rem;
		line-height: 4.5rem;
	}
	header > p {
		width: 90%;
		margin: 1rem;
	}
	/* SECTIONS INFO */
	section {
		width: 100%;
		margin: auto;
		align-items: center;
	}

	[data-tag]:nth-child(2) {
		position: relative;
		top: 0;
		left: 0;
	}
	
	.downloadProgrammeParent {
		width: 70%;
	}



	section:not(#nav_laterale) .thumbnailsContainer {
		flex-direction: column;
		align-items: center;
		/*		width:75%;*/
	}
	section h2 {
		order: -1;
		align-self: flex-end;
		font-size:3.5rem;

	}
	/*THUMBNAILS */
	[data-tag]:nth-child(2) {
		position: relative;
		top: 0;
		left: 0;
	}
	/*THUMBNAILS */
	.thumbnails {
		width: 100%;
		padding-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	[data-tag]:nth-child(2) {
		position: relative;
		top: 0;
		left: 0;

	}
	
		.hoverInfo h3,
	h4 {
		line-height: 1.2rem;
		font-size: 1.3rem;
	}
    
        nav div:nth-of-type(2) {
        display: none;
    }
	
	section:not(#nav_laterale) .thumbnailsContainer{
		padding-top:0rem;
	}
	
		.thumbnails > li:nth-child(2){
	
		margin-top:5rem;
		margin-bottom:5rem;
	}
	
    main section:not(:first-child) h2 {
        align-self: center;
    }


	/*FOOTER*/
	footer {
		flex-direction: column;
		align-items: center;
	}
}

